@import "bootstrap.css";


#controlls *{
	float: left;
}
.container {
	width: 400px;
	box-shadow: 1px 0 5px #aaa;
	padding: 20px;
	border-radius: 5px;
	margin: 10px;
}
.number {
	width: 10%;
}
.title {
	width: 80%;
}