<div id="playlist" class="container pull-left">
    <div id="list">
        <table class="table table-hover">
            <tr id="item" class="info">
                <td class="number"><% number %></td>
                <td class="title"><% title %></td>
                <td class="duration"><% duration %></td>
            </tr>
            <tr id="item">
                <td><% number %></td>
                <td><% title %></td>
                <td><% duration %></td>
            </tr>
        </table>
    </div>
    <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Add</a>
    <a href="" role="button" class="btn btn-danger">Clear</a>
</div>